			<footer class="main-footer">
				<div class="main-footer__wrap">
					<small>@Copyright XCars</small>
					<ul class="main-footer__nav">
						<li>
							<a href="./" title="">
								<span>Home</span>
							</a>
						</li>
						<li>
							<a href="./news.html" title="news">
								<span>News</span>
							</a>
						</li>
						<li>
							<a href="./contact.html" title="contacts">
								<span>Contacts</span>
							</a>
						</li>
					</ul>
				</div>
			</footer>

			<!-- Slick plugin (Slider) -->
			<script type="text/javascript" src="web/js/slick.min.js"></script>

			<!-- Fullpage js plugin (Homepage) -->
			<script type="text/javascript" src="web/js/scrolloverflow.min.js"></script>
			<script type="text/javascript" src="web/js/jquery.fullPage.js"></script>
			
			<!-- Masonry plugin (Grid news) -->
			<script type="text/javascript" src="web/js/masonry.min.js"></script>
			
			<!-- Respimage js (picture) -->
			<script type="text/javascript" src="web/js/respimage.js"></script>

			<!-- Main js -->
			<script src="web/js/main.js"></script>
		</div>
	</body>
</html>